
   /*idea mean only outline* "."
   class means more "#"/*/

   body {
     font-family: 'Indie Flower', sans-serif;;
   }

.myMedia {
  background-color: hotpink;
  height: 100px
}

@ menu only screen and and{max-width:400px) {
  .myDiv {
    background-color: hotpink;
    height: 200px
  }

}
